body{
  background-color: #364F6B;
  color: white;
  margin-top:0;
}

#header{

  background-color: blue;
  height:152px;
  width: 100%;
  position: relative ;
}

#header #img{
  height: 150px;
  width: 150px;
  position: absolute ;
  top:0;
  border: 2px solid white;
}

h2{
  position: absolute ;
  top:0px;
  left:150px;
  font-size: 3rem;
  border: 2px solid ;
}