body{
  background-color: #F4E9D7;
}

.header{
  border: 3px solid black;
  border-radius:2rem;
  corner-shape:squircle;
  text-align: center;
}

.header > p{
  font-size: 1.5rem;
}
#name{
  color: #689B8A;
  font-size: 3rem;
  font-family: Times;
}

.section-title{
  text-align: center;
  font-size: 2rem;
  color: #D97D55;
  font-family: Times;
}

.subsection{
  font-size: 1.4rem;
}

.list{
  font-size: 1.4rem;
}

.footer{
  font-size: 1.4rem;
}

.section{
  border: 3px solid black;
  border-radius:2rem;
  corner-shape:squircle;
  margin-top:1rem;
  
  
}